body {
  background: black;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 460px;
  width: 220px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.timer {
  font-size: 2em;
  margin-bottom: 20px;
}

.controls div {
  margin: 10px 0;
}

button {
  margin: 5px;
  padding: 5px 10px;
}
